.slide-layout {
    height: 100vh;
}

.slide-layout .main-logo {
    height: 60px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #002140;
}

.slide-layout .main-logo img {
    width: 40px
}

.slide-layout .main-logo h1 {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    font-weight: 500;
}

.content-layout {
    height: 100vh;
    overflow: auto;
}

.content-layout .header {
    height: 60px;
    padding: 0 20px 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

.content-layout .header .sider-togger {
    font-size: 20px;
    color: #002140;
}

.content-layout .header .header-placehoder {
    flex: 1;
}

.content-layout .header .welcome {
    color: #000000a6;
    font-size: 14px;
    margin-right: 40px;
}

.content-layout .header .logout {
    font-size: 14px;
}

.content-layout .content {
    margin: 5px 0 10px 5px;
    text-align: center;
    background: #ffffff;
    overflow: scroll;
}

.content-layout .content .ant-tabs-nav-wrap {
    background: #f0f2f5;
}